layout {
    focus-ring {
        active-color "{color6.hex}"
        inactive-color "{color0.hex}"
    }

    insert-hint {
        color "{color6.hex}9A"
    }
}
spawn-at-startup "setwallpaper" "m" "scale" "{wallpaper}"
