layout {
    focus-ring {
        active-color "#ef7437"
        inactive-color "#14131e"
    }

    insert-hint {
        color "#ef74379A"
    }
}
spawn-at-startup "setwallpaper" "m" "scale" "/home/ger/.wallpapers/EvaUnit02.png"
